.blogBanner{
    background-color: $primary;
    .container{
        justify-content: space-between;
    }
    ul li{
        margin-right: 48px;
    }
    a{
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        padding: 12px 0 14px 0;
    }
    @media( max-width: 992px){
        ul li{
            margin-right: 32px;
        }
        a{
            font-size: 16px;
            padding: 16px 0 16px 0;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
    @media( max-width: 768px){
        display: none;
    }
}