/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold 700; }

img {
  display: block;
  max-width: 100%; }

.text-center {
  text-align: center; }

.text-sm {
  font-size: 16px; }

.text-md {
  font-size: 24px; }

.text-lg {
  font-size: 36px; }

.mb-1 {
  margin-bottom: 32px; }

.mb-2 {
  margin-bottom: 40px; }

.mb-3 {
  margin-bottom: 60px; }

.mb-4 {
  margin-bottom: 64px; }

.mb-5 {
  margin-bottom: 80px; }

.mr-1 {
  margin-right: 30px; }

.ml-1 {
  margin-left: 30px; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 32px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.container {
  margin: 0 auto;
  max-width: 1100px; }

.pt-1 {
  padding-top: 64px; }

@media (max-width: 992px) {
  .container {
    width: 690px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; } }

@media (max-width: 768px) {
  .container {
    width: 345px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 16px; } }

.footer {
  padding-top: 40px;
  background-color: #AA0601; }
  .footer .inner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px; }
    .footer .inner-header ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .inner-header ul li {
        margin-left: 40px;
        color: #FFFFFF; }
      .footer .inner-header ul li:hover {
        cursor: pointer; }
    .footer .inner-header .icon {
      margin-left: 24px; }
  .footer .inner-body {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 24px; }
    .footer .inner-body li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #FFFFFF;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 36px;
      padding-bottom: 19px; }
      .footer .inner-body li img {
        margin-right: 17px;
        width: 44px;
        height: 44px; }
    .footer .inner-body .icon {
      display: none; }
  .footer .inner-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF; }
    .footer .inner-footer ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .inner-footer ul li {
        margin-left: 62px; }
      .footer .inner-footer ul li:hover {
        cursor: pointer; }

@media (max-width: 992px) {
  .footer .inner-header {
    margin-bottom: 24px; }
    .footer .inner-header img {
      width: 24px;
      height: 24px; }
    .footer .inner-header ul li {
      font-size: 16px; }
  .footer .inner-body {
    padding-bottom: 27px; }
    .footer .inner-body li {
      font-size: 20px; }
      .footer .inner-body li img {
        width: 24px;
        height: 24px; }
  .footer .inner-footer {
    padding-bottom: 40px; }
    .footer .inner-footer img {
      display: none; }
    .footer .inner-footer p {
      font-size: 16px; }
    .footer .inner-footer li {
      font-size: 14px; } }

@media (max-width: 768px) {
  .footer .inner-header {
    display: none; }
  .footer .inner-body img {
    width: 20px;
    height: 20px;
    margin-right: 4px; }
  .footer .inner-body p {
    font-size: 16px;
    white-space: nowrap; }
  .footer .inner-body .icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    margin-bottom: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer .inner-body .icon li {
      padding-bottom: 0; }
    .footer .inner-body .icon img {
      width: 24px;
      margin-left: 24px;
      margin-right: 0; }
  .footer .inner-footer {
    display: block; }
    .footer .inner-footer p {
      font-size: 14px;
      margin-bottom: 7px; }
    .footer .inner-footer ul {
      display: block; }
      .footer .inner-footer ul li {
        margin-left: 0;
        margin-bottom: 8px; } }

.header {
  background-color: #AA0601;
  height: 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header h1 a {
    display: block;
    width: 80px;
    height: 49px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .header ul li {
    margin-right: 64px; }
    .header ul li a {
      color: #FFF;
      text-decoration: none; }
  .header li:hover {
    cursor: pointer; }

.phone-listGroup {
  display: none; }

@media (max-width: 992px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header ul li {
      margin-right: 40px; } }

@media (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 138px; }
    .header ul {
      display: none; }
  .phone-listGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .phone-listGroup li {
    width: 50%;
    height: 44px;
    background-color: #650300;
    border: 1px solid #FFFFFF;
    font-size: 20px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .phone-listGroup li a {
      color: #FFFFFF;
      text-decoration: none; } }

.productsBanner {
  margin-bottom: 88px; }
  .productsBanner ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .productsBanner ul li {
      width: 28%;
      font-size: 42px;
      position: relative;
      border: 1px solid #DCDCDC; }
      .productsBanner ul li a {
        text-decoration: none;
        color: #000000;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 24px 0 24px 0; }
        .productsBanner ul li a img {
          margin-right: 8px; }
  .productsBanner .dash {
    width: 100%;
    margin-bottom: 0;
    background-color: #AA0601;
    height: 16px;
    bottom: 0;
    position: absolute; }
  .productsBanner .icon {
    display: block;
    max-width: 48px;
    height: auto; }
  .productsBanner .img {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .productsBanner .img img {
      display: block;
      max-width: 49%;
      height: auto;
      background-size: cover;
      background-position: center center; }
  @media (max-width: 992px) {
    .productsBanner ul li {
      font-size: 28px;
      max-width: 256px; }
      .productsBanner ul li a {
        padding: 16px 0 16px 0; }
    .productsBanner .icon {
      width: 32px; }
    .productsBanner .dash {
      height: 8px; }
    .productsBanner .img img {
      max-width: 50%;
      height: 309px;
      margin-right: 0; } }
  @media (max-width: 768px) {
    .productsBanner {
      margin-bottom: 30px; }
      .productsBanner ul li {
        max-width: 33.33%;
        height: 35px;
        font-size: 14px; }
        .productsBanner ul li a {
          padding: 8px 0 8px 0; }
      .productsBanner .dash {
        height: 4px; }
      .productsBanner .icon {
        width: 15px;
        height: 12px; }
      .productsBanner .img img {
        height: 144px; } }

.blogBanner {
  background-color: #650300; }
  .blogBanner .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blogBanner ul li {
    margin-right: 48px; }
  .blogBanner a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 12px 0 14px 0; }
  @media (max-width: 992px) {
    .blogBanner ul li {
      margin-right: 32px; }
    .blogBanner a {
      font-size: 16px;
      padding: 16px 0 16px 0; }
    .blogBanner img {
      width: 24px;
      height: 24px; } }
  @media (max-width: 768px) {
    .blogBanner {
      display: none; } }

.pagination {
  margin-bottom: 156px; }
  .pagination .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .pagination .container .active {
      background-color: #000000;
      color: #FFFFFF; }
  .pagination a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px;
    border: 1px solid #555555;
    background-color: #FFFFFF; }
  .pagination .next a {
    background-color: #555555; }
  @media (max-width: 768px) {
    .pagination {
      margin-bottom: 56px; }
      .pagination a {
        padding: 10px;
        font-size: 12px; } }

p, h2, li, label, button {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold 700; }

.banner {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  height: 840px;
  color: #650300; }
  .banner .container {
    height: 100%; }
  .banner h1 {
    font-size: 64px; }
  .banner p {
    text-align: right;
    margin-left: 63px;
    margin-bottom: 30px; }

.about {
  background-color: #AA06010D; }
  .about h2 {
    color: #650300; }
  .about .listGroup {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .about .listGroup .title {
      font-size: 24px; }
    .about .listGroup ul {
      width: 25%;
      padding: 0 20px 0 20px;
      margin-bottom: 80px; }
      .about .listGroup ul img {
        margin: 0 auto;
        margin-bottom: 40px; }
      .about .listGroup ul .title {
        margin-bottom: 4px; }

.classic {
  margin-bottom: 80px; }
  .classic h2 {
    color: #650300; }
  .classic ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #650300; }
    .classic ul li h2 {
      margin-left: 8px; }
    .classic ul li img {
      width: 390px;
      height: 168px;
      width: 100%; }
    .classic ul li img:hover {
      cursor: pointer;
      opacity: 0.5; }
  .classic .sunglasses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .classic span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classic .picture {
    width: 635px;
    height: 320px; }
  .classic .icon {
    width: 48px;
    height: 37.73px; }
  .classic .white-icon {
    display: none; }

.co-branding {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  background-size: cover;
  background-position: center;
  height: 743px;
  margin-bottom: 80px; }
  .co-branding .title {
    color: #FFFFFF;
    font-size: 48px;
    padding-top: 64px;
    margin-bottom: 60px; }
  .co-branding ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .co-branding ul li {
      width: 540px;
      position: relative;
      cursor: pointer; }
    .co-branding ul span {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #AA0601;
      font-size: 72px;
      white-space: nowrap;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .co-branding ul li:hover span {
      cursor: pointer;
      top: 40%;
      border-bottom: 3px solid #AA0601; }

.recommand .title {
  text-align: center;
  margin-bottom: 60px; }

.recommand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px; }
  .recommand ul li {
    width: 255px;
    border: 1px solid #DEE2E6; }
    .recommand ul li img {
      width: 100%;
      height: 256px;
      margin-bottom: 14px; }
    .recommand ul li p {
      font-size: 14px;
      margin-left: 16px; }
    .recommand ul li .name {
      margin-bottom: 7px; }
    .recommand ul li .comment {
      margin-bottom: 10px; }
    .recommand ul li .date {
      margin-bottom: 15px;
      color: #707070; }

.contact .title {
  text-align: center;
  margin-bottom: 24px; }

.contact p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px; }

.contact .form {
  width: 730px;
  margin: 0 auto; }

.contact .form-group {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 730px; }
  .contact .form-group label {
    font-size: 16px;
    width: 100%; }
  .contact .form-group input {
    margin-top: 12px;
    width: 100%;
    padding: 15px 0 15px 0;
    font-size: 20px;
    border: 1px solid #000000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .contact .form-group input ::-webkit-input-placeholder {
      opacity: 0.2; }
  .contact .form-group input:focus {
    border-color: #1e1caf;
    -webkit-box-shadow: 0 0 8px 0 #1e1caf;
            box-shadow: 0 0 8px 0 #1e1caf; }
  .contact .form-group textarea {
    margin-top: 12px;
    height: 136px;
    width: 730px; }

.contact .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }

.contact .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contact button {
  width: 350px;
  height: 54px;
  background-color: #AA0601;
  margin-bottom: 80px;
  color: #FFFFFF;
  border: none; }

.contact button:hover {
  cursor: pointer; }

@media (max-width: 992px) {
  .banner .content {
    white-space: nowrap;
    margin-left: 297px; }
    .banner .content h1 {
      font-size: 48px; }
    .banner .content p {
      margin-left: 140px;
      font-size: 20px; }
  .listGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .listGroup ul {
      width: 50%; }
  .about h2 {
    font-size: 32px; }
  .about .listGroup ul {
    width: 45%; }
    .about .listGroup ul img {
      width: 80px;
      height: 80px; }
    .about .listGroup ul .title {
      font-size: 20px;
      margin-bottom: 16px; }
    .about .listGroup ul .content {
      font-size: 16px; }
  .classic h2 {
    font-size: 32px; }
  .classic ul {
    max-width: 100%;
    font-size: 28px; }
    .classic ul .sunglasses {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .classic ul .sunglasses .picture {
        margin-right: 30px; }
    .classic ul li h2 {
      font-size: 28px; }
    .classic ul li .picture {
      width: 390px;
      height: 168px; }
    .classic ul li .icon {
      width: 32px;
      height: 25.16px; }
    .classic ul li .white-icon {
      display: none; }
  .co-branding {
    height: 437px;
    margin-bottom: 30px; }
    .co-branding .title {
      font-size: 32px;
      padding-top: 40px;
      margin: 32px; }
    .co-branding ul span {
      font-size: 65px; }
    .co-branding ul li {
      width: 330px;
      height: 280px; }
    .co-branding ul p {
      font-size: 32px; }
  .recommand ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .recommand ul li {
      width: 48%;
      margin-bottom: 20px; }
  .recommand .title {
    margin-bottom: 32px;
    font-size: 32px; }
  .contact .title {
    font-size: 32px; }
  .contact p {
    font-size: 16px; }
  .contact .form {
    width: 450px; }
  .contact .form-group {
    width: 450px; }
    .contact .form-group label p {
      font-size: 14px; }
    .contact .form-group .form-control {
      width: 450px;
      height: 36px; }
    .contact .form-group textarea {
      width: 450px;
      height: 100px; }
    .contact .form-group input {
      font-size: 14px; }
  .contact .checkbox {
    font-size: 14px; }
  .contact .btn button {
    padding: 18px 100px 18px 100px;
    margin-bottom: 48px; } }

@media (max-width: 768px) {
  .banner {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
    background-size: cover;
    height: 394px;
    color: #650300;
    height: 384px; }
    .banner .content {
      margin-left: 72px; }
      .banner .content p {
        margin-left: 54px;
        font-size: 16px; }
      .banner .content h1 {
        font-size: 32px; }
  .about {
    padding-bottom: 32px; }
    .about h2 {
      font-size: 24px;
      margin-bottom: 20px; }
    .about .listGroup ul {
      width: 100%;
      margin-bottom: 40px; }
  .classic ul li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .classic ul li span {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      width: 100%; }
      .classic ul li span img {
        margin-left: 0; }
      .classic ul li span h2 {
        margin-right: 0;
        color: #FFFFFF; }
      .classic ul li span .icon {
        display: none; }
      .classic ul li span .white-icon {
        display: block;
        width: 48px;
        height: 37.73px; }
  .classic ul .sunglasses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .classic ul .sunglasses .picture {
      margin-right: 0; }
    .classic ul .sunglasses span {
      z-index: 100; }
  .co-branding {
    height: 696px; }
    .co-branding ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .co-branding ul li img {
        width: 100%;
        height: 284px; }
      .co-branding ul .double {
        margin-bottom: 16px; }
  .recommand .title {
    margin-bottom: 20px;
    font-size: 20px; }
  .recommand ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .recommand ul li {
      width: 100%;
      margin-bottom: 16px; }
      .recommand ul li p {
        font-size: 14px; }
  .contact .title {
    font-size: 20px; }
  .contact p {
    font-size: 16px; }
  .contact .form {
    width: 345px; }
    .contact .form .form-group {
      width: 100%; }
      .contact .form .form-group ::-webkit-input-placeholder {
        font-size: 14px; }
      .contact .form .form-group input {
        font-size: 14px; }
  .contact .btn button {
    padding: 18px 82px 18px 82px;
    margin-bottom: 32px; } }

.optical_products h2 {
  margin-bottom: 20px; }

.optical_products h3 {
  margin-bottom: 40px; }

.optical_products ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .optical_products ul li {
    max-width: 23%;
    margin-bottom: 104px; }
  .optical_products ul img {
    margin-bottom: 5px; }
  .optical_products ul .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5px; }
    .optical_products ul .content p {
      font-size: 24px; }
    .optical_products ul .content .price {
      color: #AA0601; }
  .optical_products ul button {
    cursor: pointer;
    border: none;
    padding: 12px;
    margin-right: 8px; }
  .optical_products ul .color_dark {
    background-color: #5F3E2D; }
  .optical_products ul .color_light {
    background-color: #B75929; }

@media (max-width: 992px) {
  .optical_products {
    margin-bottom: 105px; }
    .optical_products h3 {
      margin-bottom: 32px; }
    .optical_products ul li {
      max-width: 49%;
      margin-bottom: 72px; }
    .optical_products img {
      height: 164px;
      margin-bottom: 72px; }
    .optical_products .content p {
      font-size: 24px; } }

@media (max-width: 768px) {
  .optical_products {
    margin-bottom: 40px; }
    .optical_products h2 {
      margin-bottom: 5px; }
    .optical_products h3 {
      margin-bottom: 20px; }
    .optical_products ul li {
      max-width: 100%; }
      .optical_products ul li .content p {
        font-size: 16px; }
      .optical_products ul li button {
        padding: 10px; } }

.sunglasses_products h2 {
  margin-bottom: 20px; }

.sunglasses_products h3 {
  margin-bottom: 40px; }

.sunglasses_products ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sunglasses_products ul li {
    max-width: 30%;
    margin-bottom: 104px; }
  .sunglasses_products ul img {
    background-size: cover;
    background-position: center center;
    height: 224px; }
  .sunglasses_products ul a {
    text-decoration: none; }
  .sunglasses_products ul p {
    color: #000000;
    margin-bottom: 8px; }
  .sunglasses_products ul .price {
    color: #AA0601; }
  .sunglasses_products ul button {
    cursor: pointer;
    border: none;
    padding: 12px;
    margin-right: 8px; }
  .sunglasses_products ul .color_dark {
    background-color: #5F3E2D;
    margin-right: 8px; }
  .sunglasses_products ul .color_light {
    background-color: #B75929; }

.sunglasses_products .pagination {
  display: none; }

@media (max-width: 992px) {
  .sunglasses_products h3 {
    margin-bottom: 32px; }
  .sunglasses_products ul li {
    max-width: 47%;
    margin-bottom: 72px; }
  .sunglasses_products img {
    height: 164px;
    margin-bottom: 5px; }
  .sunglasses_products .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .sunglasses_products .content p {
      font-size: 24px; } }

@media (max-width: 768px) {
  .sunglasses_products h2 {
    margin-bottom: 5px; }
  .sunglasses_products h3 {
    margin-bottom: 20px; }
  .sunglasses_products ul li {
    max-width: 100%; }
  .sunglasses_products .content p {
    font-size: 16px; }
  .sunglasses_products button {
    padding: 10px; }
  .sunglasses_products .phoneSecondPage {
    display: none; }
  .sunglasses_products .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

section {
  margin-top: 82px; }
  section ul li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    position: relative;
    margin-bottom: 60px; }
  section img {
    margin-bottom: 15px;
    width: 58%;
    height: auto;
    background-size: cover;
    background-position: center center; }
  section .content {
    height: 100%;
    width: 38%; }
    section .content h3 {
      margin-bottom: 12px;
      color: #650300; }
    section .content p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section .content p .eng {
        font-size: 20px; }
      section .content p .date {
        opacity: 0.6; }
    section .content .text {
      margin-top: 24px;
      font-size: 20px;
      color: #555555;
      line-height: 1.5; }
      section .content .text a {
        display: none; }
    section .content .listFooter a {
      text-decoration: none;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 36px;
      color: #650300; }
  @media (max-width: 992px) {
    section img {
      width: 45%;
      margin-bottom: 8px; }
    section .content {
      width: 51%; }
      section .content .eng {
        font-size: 16px; }
      section .content .date {
        font-size: 14px; }
      section .content .text {
        font-size: 14px;
        display: inline-block; }
        section .content .text a {
          font-size: 14px;
          color: #555555;
          display: inline-block; }
      section .content .listFooter {
        display: none; } }
  @media (max-width: 768px) {
    section ul li {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      section ul li img {
        width: 100%; }
      section ul li .content {
        width: 100%; }
        section ul li .content .eng, section ul li .content .date {
          font-size: 14px; }
        section ul li .content .listBody, section ul li .content .listFooter {
          display: none; } }

.pagination {
  margin-top: 100px;
  margin-bottom: 156px; }

/*# sourceMappingURL=all.css.map */
